<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> My first web project</title>
</head>

<body>
    <div>
        <h1><a href="">LegendLim's Blog</a></h1>
        <p>welcome.</p>
    </div>

    <div>
        <ul><li>Downy</li><li>Kyunghyuny</li></ul>
        <p>published : 2017.2.14   13:51</p>
        <h1><a href="http://www.naver.com">Naver</a></h1>
        <p>press to go naver.</p>
    </div>

    <div>
        <p>published : 2017.2.14   13:55</p>
        <h1><a href="https://www.google.com">Google</a></h1>
        <p>press to go google.</p>
    </div>
</body>
</html>